/*General styles*/
.LandingPage {
  width: 100%;
  height: 100%;
  background-color: #181818;
  position: relative;
  overflow: hidden;
}


/*Circle styles*/
.LandingPage .circle {
  width: 60%;
  border-radius: 45%;
  background-color: transparent;
  animation-name: animationLP;
  animation-duration: 1s;
  display: flex;
  align-items: center;
  left: 50%;
  -ms-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
  position: absolute;
  top: 50%;
}

.LandingPage .text {
  width: 80%;
  margin: 0 auto;
}
.LandingPage h2 {
  width: 243px;
  margin: 0 auto;
  color: #cacaca;
  text-align: left;
  font-size: 1.5rem;
  font-weight: 700;
  font-family: 'LatoBold', 'Open Sans', sans-serif;
  text-decoration: none;
  padding-left: 5px;
}

.LandingPage .parag {
  padding-left: 5px;
  color: #8a8a8a;
  margin: 0 auto;
  text-align: left;
  font-family: 'Lato';
  font-size: 1rem;
  letter-spacing: .1rem;
}
.LandingPage .p1 {
  width: 302px;
}
.LandingPage .p2 {
  width: 207px;
}

/*Typer animation*/
.typer {
  overflow: hidden;
}
.Typist .Cursor {
  display: inline-block;
  color: #8a8a8a;
}
  .Typist .Cursor--blinking {
    opacity: 1;
    animation: blink 1s linear infinite;
  }

@keyframes blink {
  0% { opacity: 1; }
  50% { opacity: 0; }
  100% { opacity: 1; }
  }


/*Language Section styles*/
  .Language {
    display: inline-flex;
    flex-flow: row nowrap;
    justify-content: center;
    align-items: center;
    margin-top: 30px;
    width: 100%;
    margin-right: 0;
    animation-name: lang;
    animation-duration: 2s;
    animation-timing-function: ease-out;
    animation-delay: 7s;
    animation-fill-mode: forwards;
    opacity: 0;
  }
  @keyframes lang {
    from { opacity: 0; }
    to { opacity: 1; }
  }
  .Language div {
    width: 100px;
    height: 26px;
    background-position: center center;
    background-size: cover;
    cursor: pointer;
    display: flex;
    justify-content: center;
  }
  .BtnLang {
    margin-right: 10px;
    border: 1px solid #F0F0F0;
    border-radius: 5px;
    color: #F0F0F0;
  }
  .Language a {
    text-decoration: none;
  }
  .BtnLang:hover {
      background-color: #F0F0F0;
      color: black;
  }


/*Media queries*/
@media (max-width: 480px) {
  .LandingPage .circle {
    height: 250px;
    width: 90%;
  }
  .LandingPage h2 {
    font-size: 1.3rem;
  }
  .LandingPage p {
    font-size: 0.7rem;
  }
  .LandingPage .text {
    width: 100%;
  }
}
@media (max-width: 300px) {

  .LandingPage h2 {
    font-size: 1.2rem;
  }
  .LandingPage p {
    font-size: 0.5rem;
  }
  .Language {
    flex-flow: column nowrap;
  }
  .Language a:first-child {
    margin-bottom:  10px;
  }

}
