/*General styles*/
.LandingPage {
  width: 100%;
  height: 100%;
  background-color: #181818;
  position: relative;
  overflow: hidden;
  /*
  background: radial-gradient(ellipse at bottom, #1b2735 0%, #090a0f 100%);
  background-color: #101010;
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  background-attachment: fixed;
  background-image: linear-gradient(
        rgba(16, 16, 16, 0.8),
        rgba(16, 16, 16, 0.8)
      ),
      url(/img/space23.jpg);*/

  /*text-shadow: 0 0 5px rgba(21,171,195,0.7*/
}


/*Circle styles*/
.LandingPage .circle {
  width: 60%;
  border-radius: 45%;
  background-color: transparent;
  animation-name: animationLP;
  animation-duration: 1s;
  /*animation-timing-function: ease-out;*/
  display: flex;
  align-items: center;
  left: 50%;
  -ms-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
  position: absolute;
  top: 50%;
}

@keyframes animationLP {
  0% {
    width: 0;
    height: 0;
  }
  100% {
    width: 400px;
    height: 400px;
  }
}

.LandingPage .text {
  width: 80%;
  margin: 0 auto;
}
.LandingPage h2 {
  /*color: #b5b0a5;*/
  color: #cacaca;
  text-align: center;
  font-size: 1.5rem;
  font-weight: 700;
  font-family: 'LatoBold', 'Open Sans', sans-serif;
  text-decoration: none;
  /*
  animation-name: animationH1;
  animation-duration: 2s;
  animation-timing-function: ease-out;*/
}
@keyframes animationH1 {
  0% {
    font-size: 0.8rem;
  }
  100% {
    font-size: 2rem;
  }
}
.LandingPage p {
  /*color: #354b4e;*/
  color: #8a8a8a;
  text-align: left;
  font-weight: 100;
  font-family: 'GothamLightRegular';
  font-size: 1.2rem;
  letter-spacing: .1rem;
  /*animation: typing 3.5s steps(40, end);*/
  /*animation-name: animationP;
  animation-duration: 2s;
  animation-timing-function: ease-out;*/
}
@keyframes typing {
  from { width: 0 }
  to { width: 100% }
}

/*Typer animation*/
.Typist {
  position: relative;
  overflow: hidden;
}
.Typist::after {
  content: "";
  position: absolute;
  width: 20px;
  height: 20px;
  border-bottom: 2px solid #8a8a8a;
  animation: blink 0.5s infinite;
}
@keyframes blink {
  0% {
    border-bottom: 2px solid transparent;
  }
  100% {
    border-bottom: 2px solid #8a8a8a;
  }
}

/*Language Section styles*/
  .Language {
    display: inline-flex;
    flex-flow: row nowrap;
    justify-content: center;
    align-items: center;
    margin-top: 30px;
    width: 100%;
    margin-right: 0;
  }
  .Language div {
    width: 40px;
    height: 26px;
    background-position: center center;
    background-size: cover;
    cursor: pointer;
  }
  .Language .Swedish {
    margin-right: 10px;
    border: 1px solid #354b4e;
    background-image: linear-gradient(
          rgba(16, 4, 28, 0.5),
          rgba(16, 4, 28, 0.5)
        ),
        url(/img/swe.png);
  }
  .Language .Swedish:hover {
    background-image: linear-gradient(
          rgba(16, 4, 28, 0.1),
          rgba(16, 4, 28, 0.1)
        ),
        url(/img/swe.png);
  }
  .Language .English {
    border: 1px solid #354b4e;
    background-image: linear-gradient(
          rgba(16, 4, 28, 0.5),
          rgba(16, 4, 28, 0.5)
        ),
        url(/img/eng.png);
  }
  .Language .English:hover {
    background-image: linear-gradient(
          rgba(16, 4, 28, 0.1),
          rgba(16, 4, 28, 0.1)
        ),
        url(/img/eng.png);
  }


/*Media queries*/
@media (max-width: 480px) {
  .LandingPage .circle {
    height: 250px;
    width: 250px;
  }
  .LandingPage h1 {
    font-size: 1.2rem;
  }
  .LandingPage p {
    font-size: 0.7rem;
  }
  .Language div {
    width: 28px;
    height: 18px;
  }
}
@media (max-width: 300px) {
  .LandingPage .circle {
    height: 200px;
    width: 200px;
  }
  .LandingPage h1 {
    font-size: 0.9rem;
  }
  .LandingPage p {
    font-size: 0.5rem;
  }
  .Language div {
    width: 22px;
    height: 15px;
  }
}
