/*Outmost container & general styles*/
.HomeWrap {
  font-family: 'GothamLightRegular', 'Open Sans', sans-serif;
  width: 100%;
  z-index: 1;
}

/*Hero styles*/
.HomeWrap .Hero {
  background-color: #2a2a2a;
  width: 100%;
  height: 100vh;
  background-repeat: no-repeat;
  background-position: center 40%;
  background-size: cover;
  background-attachment: fixed;
  background-image: linear-gradient(
        rgba(24, 24, 24, 0),
        rgba(24, 24, 24, 0)
      ),
      url(/img/home7.jpg);
  display: flex;
  justify-content: center;
  align-items: center;
}
