header {
    background-color: black;
    display: flex;
    position: fixed;
    flex-flow: row nowrap;
    justify-content: space-between;
    align-items: center;
    color: white;
    height: 45px;
    width: 100%;
    z-index: 10;
    opacity: 0.5;
}
/*Logo section styles*/
  .Logo {
    display: inline-flex;
    flex-flow: row nowrap;
    justify-content: flex-start;
    align-items: center;
    color: #00FA9A;
    padding-left: 7px;
    padding-right: 7px;
  }

  /*Language section styles*/
    .LangHeader {
      display: inline-flex;
      flex-flow: row nowrap;
      justify-content: flex-end;
      align-items: center;
      color: white;
    }
