header {
    background-color:  	#181818;
    display: flex;
    position: fixed;
    flex-flow: row nowrap;
    justify-content: space-between;
    align-items: center;
    color: white;
    height: 35px;
    width: 100%;
    z-index: 11;
}
/*Logo section styles*/
  .Logo {
    display: inline-flex;
    flex-flow: row nowrap;
    justify-content: flex-start;
    align-items: center;
  }
    .Logo img {
      margin: 0 3px 0 10px;
      width: 25px;
      height: 25px;
    }

  /*Language Section styles*/
  .Language {
    display: inline-flex;
    flex-flow: row nowrap;
    justify-content: flex-end;
    align-items: center;
    margin-right: 10px;
  }
  .Language div {
    width: 25px;
    height: 15px;
    margin-right: 3px;
    background-position: center center;
    background-size: cover;
  }
  .Language .Swedish {
    background-image: linear-gradient(
          rgba(10, 69, 220, 0.4),
          rgba(10, 69, 220, 0.4)
        ),
        url(/img/swe.png);
  }
  .Language .SweCurrent {
    background-image: linear-gradient(
          rgba(10, 69, 220, 0),
          rgba(10, 69, 220, 0)
        ),
        url(/img/swe.png);
  }
  .Language .English {
    background-image: linear-gradient(
          rgba(10, 69, 220, 0.4),
          rgba(10, 69, 220, 0.4)
        ),
        url(/img/eng.png);
  }
  .Language .EngCurrent {
    background-image: linear-gradient(
          rgba(10, 69, 220, 0),
          rgba(10, 69, 220, 0)
        ),
        url(/img/eng.png);
  }
