header {
    background-color:  	#181818;
    display: flex;
    position: fixed;
    flex-flow: row nowrap;
    justify-content: space-between;
    align-items: center;
    color: white;
    height: 35px;
    width: 100%;
    z-index: 11;
}
/*Logo section styles*/
  .Logo {
    display: inline-flex;
    flex-flow: row nowrap;
    justify-content: flex-start;
    align-items: center;
  }
    .Logo img {
      margin: 0 3px 0 10px;
      width: 25px;
      height: 25px;
    }

  
