@font-face {
  font-family: 'GothamLightRegular';
  src:
    url(/fonts/GothamLightRegular.otf) format('opentype');
}
@font-face {
  font-family: 'LatoBold';
  src:
    url(/fonts/LatoBold.ttf) format('truetype');
}
@font-face {
  font-family: 'Otto';
  src:
    url(/fonts/Otto.ttf) format('truetype');
}
@font-face {
  font-family: 'MontserratLight';
  src:
    url(/fonts/montserrat/MontserratLight.otf) format('opentype');
}
* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: 'GothamLightRegular', 'Open Sans', sans-serif;
}

html, body, #root {
  height: 100%;
  width: 100%;
  position: relative;
  min-width: 200px;
}

body {
  font-size: 1rem;
  line-height: 1.3;
}
